@import url('https://fonts.googleapis.com/css2?family=Lato&family=DotGothic16&display=swap');

@tailwind base;

@tailwind components;

:root {
  --tw-shadow-color: #000000;
}

.mapboxgl-popup-content {
  @apply bg-gray-100 !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: rgb(247, 250, 252) !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgb(247, 250, 252) !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgb(247, 250, 252) !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgb(247, 250, 252) !important;
}

@tailwind utilities;
